# 6.1 CRA Data Cleaning

## Import of Analytical Libraries

In [4]:
# Importing Pandas, NumPy and os
import pandas as pd
import numpy as np
import os

## Importing Dataframe

### Creating path

In [7]:
# Creating Path for 02 Data file to make import and export easier
path = r'/Users/Andreas/Desktop/28-02-2025 Chocolate Ratings Analysis/02 Data'

# Checking Output
path

'/Users/Andreas/Desktop/28-02-2025 Chocolate Ratings Analysis/02 Data'

### Import Dataframe

In [9]:
# Creating Dataframe called df_cra for my flavours_of_cacao.csv dataset
df_cra = pd.read_csv(os.path.join(path, 'Original Data', 'flavors_of_cacao.csv'))

In [10]:
# Checkking Output
df_cra.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

# Data Consistency and Cleaning

In [12]:
# Getting column Name list
print(df_cra.columns.tolist())

['Company\xa0\n(Maker-if known)', 'Specific Bean Origin\nor Bar Name', 'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType', 'Broad Bean\nOrigin']

In [13]:
# Renaming Columns for clearer understanding of Column Contents
df_cra = df_cra.rename(columns={
    'Company\xa0\n(Maker-if known)': 'Manufacturer',
    'Specific Bean Origin\nor Bar Name': 'Bean Origin (City)',
    'Review\nDate': 'Review Year',
    'Cocoa\nPercent': 'Cocoa (%)',
    'Company\nLocation': 'Country of Manufacturer',
    'Bean\nType': 'Type of Bean',
    'Broad Bean\nOrigin': 'Bean Origin (Country)'})

In [14]:
# Checking Outcome
df_cra.head()

,Manufacturer,Bean Origin (City),REF,Review Year,Cocoa (%),Country of Manufacturer,Rating,Type of Bean,Bean Origin (Country)
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

### Renaming Columns

In [17]:
# Creating a new df (new_order) containt the order I want the columns in
new_order = ['Manufacturer', 'Country of Manufacturer', 'Cocoa (%)', 'Type of Bean', 'Bean Origin (City)', 'Bean Origin (Country)', 'Rating', 'Review Year', 'REF']

# Applying new_order to df_cra
df_cra = df_cra[new_order]

In [18]:
# Checking Output
df_cra.head()

,Manufacturer,Country of Manufacturer,Cocoa (%),Type of Bean,Bean Origin (City),Bean Origin (Country),Rating,Review Year,REF
0,A. Morin,France,63%,,Agua Grande,Sao Tome,3.75,2016,1876
1,A. Morin,France,70%,,Kpime,Togo,2.75,2015,1676
2,A. Morin,France,70%,,Atsane,Togo,3.00,2015,1676
3,A. Morin,France,70%,,Akata,Togo,3.50,2015,1680
4,A. Morin,France,70%,,Quilla,Peru,3.50,2015,1704

After Analysis on Excel just as a primary view of what data I was dealing with. I found that the Bean Origin (City) (Previously known as 'Specific Bean Origin\nor Bar Name') had just too many different variable inside one column and made no sense. I wanted to Seperate them but it would just leave an absurd amount of blanks without adding any real value to the EDA proccess. We still have Bean Origin (Country) which gives us the information we need geographically speaking. Thus I decided to remove that column.

In [20]:
# Dropping the Bean Origin (City) column from df_cra
df_cra.drop(columns = ['Bean Origin (City)'], inplace = True)

In [22]:
# Checking output
df_cra.head()

,Manufacturer,Country of Manufacturer,Cocoa (%),Type of Bean,Bean Origin (Country),Rating,Review Year,REF
0,A. Morin,France,63%,,Sao Tome,3.75,2016,1876
1,A. Morin,France,70%,,Togo,2.75,2015,1676
2,A. Morin,France,70%,,Togo,3.00,2015,1676
3,A. Morin,France,70%,,Togo,3.50,2015,1680
4,A. Morin,France,70%,,Peru,3.50,2015,1704

## Checking Data types of df_cra

In [24]:
# Data type check
df_cra.dtypes

Manufacturer                object
Country of Manufacturer     object
Cocoa (%)                   object
Type of Bean                object
Bean Origin (Country)       object
Rating                     float64
Review Year                  int64
REF                          int64
dtype: object

## Changing Data types

**I will need to change some data types to better represent the data and the purpose I need it for.**

**Cocoa (%)** - I will change it from str to float64, this will change it to a numeric variable which I can analyze and perform descriptive analytics to like average, median, min and max rather than just mode. It also increase the accuary if deducing new variables with it than int64.

**REF** - I will change it from int64 to 'str' it is a number with no value it is used to derive how recently it was reviewed

In [27]:
# Remove the '%' character and convert to float64
df_cra['Cocoa (%)'] = df_cra['Cocoa (%)'].str.replace('%', '', regex=False).astype('float64')

# Changing REF to 'str'
df_cra['REF'] = df_cra['REF'].astype('str')

# Checking Output
df_cra.dtypes

Manufacturer                object
Country of Manufacturer     object
Cocoa (%)                  float64
Type of Bean                object
Bean Origin (Country)       object
Rating                     float64
Review Year                  int64
REF                         object
dtype: object

## Checking For Nulls

In [29]:
# Checking for Nulls in 'Manufacturer' column
df_cra['Manufacturer'].isnull().value_counts()

Manufacturer
False    1795
Name: count, dtype: int64

**No Null Values Found**

In [31]:
# Removing limiter of rows shown 
pd.set_option('display.max_rows', None)

In [32]:
# Checking the Distinct Values in 'Manufacturer' column
df_cra['Manufacturer'].value_counts(dropna = False)

Manufacturer
Soma                                       47
Bonnat                                     27
Fresco                                     26
Pralus                                     25
A. Morin                                   23
Arete                                      22
Guittard                                   22
Domori                                     22
Valrhona                                   21
Hotel Chocolat (Coppeneur)                 19
Mast Brothers                              18
Coppeneur                                  18
Scharffen Berger                           17
Zotter                                     17
Dandelion                                  16
Artisan du Chocolat                        16
Rogue                                      16
Smooth Chocolator, The                     16
Szanto Tibor                               15
Tejas                                      14
Bittersweet Origins                        14
Pierre Marcolini                           14
Castronovo                                 14
Dick Taylor                                13
Duffy's                                    13
Amedei                                     13
Pacari                                     13
Friis Holm (Bonnat)                        12
Palette de Bine                            11
Sirene                                     11
Middlebury                                 11
Madre                                      11
Michel Cluizel                             10
Marou                                      10
Laia aka Chat-Noir                         10
Idilio (Felchlin)                          10
Altus aka Cao Artisan                      10
French Broad                               10
Map Chocolate                              10
La Maison du Chocolat (Valrhona)           10
Cacao Sampaka                               9
L.A. Burdick (Felchlin)                     9
Habitual                                    9
Pitch Dark                                  9
Fruition                                    9
Amano                                       9
Holy Cacao                                  9
Ritual                                      9
Terroir                                     9
Letterpress                                 9
Brasstown aka It's Chocolate                9
Danta                                       9
TCHO                                        8
Kallari (Ecuatoriana)                       8
Chocovic                                    8
Pump Street Bakery                          8
Willie's Cacao                              8
Hummingbird                                 8
Woodblock                                   8
Beschle (Felchlin)                          8
Kto                                         7
Chocolate Con Amor                          7
C-Amaro                                     7
Manoa                                       7
Manufaktura Czekolady                       7
Potomac                                     7
Cacao Hunters                               7
Spencer                                     7
Rozsavolgyi                                 7
Felchlin                                    7
Cravve                                      7
El Rey                                      7
Askinosie                                   6
Zak's                                       6
Chocolate Tree, The                         6
Zart Pralinen                               6
Lillie Belle                                6
Lonohana                                    6
Blue Bandana                                6
Vao Vao (Chocolaterie Robert)               6
Ambrosia                                    6
Caoni (Tulicorp)                            6
Solstice                                    6
Soul                                        6
Brazen                                      6
Shark Mountain                              6
Q Chocolate                                 6
Cacao de Origen                             6
Patric                                      6
Benoit Nihant                               6
Dean and Deluca (Belcolade)                 6
Original Beans (Felchlin)                   6
twenty-four blackbirds                      6
Neuhaus (Callebaut)                         6
Theo                                        6
Mesocacao                                   6
Ocho                                        6
organicfair                                 5
Santander (Compania Nacional)               5
Zokoko                                      5
Alain Ducasse                               5
Durci                                       5
Meadowlands                                 5
Escazu                                      5
Ethel's Artisan (Mars)                      5
S.A.I.D.                                    5
Frederic Blondeel                           5
Republica del Cacao (aka Confecta)          5
Violet Sky                                  5
Georgia Ramon                               5
Guido Castagna                              5
Videri                                      5
hexx                                        5
Hoja Verde (Tulicorp)                       5
Nuance                                      5
Starchild                                   5
AMMA                                        5
Carlotta Chocolat                           5
Cacao Barry                                 5
Bar Au Chocolat                             5
Caribeans                                   5
Choklat                                     5
Compania de Chocolate (Salgado)             5
Bahen & Co.                                 5
Burnt Fork Bend                             5
Cao                                         5
Dark Forest                                 5
Silvio Bessone                              4
Cello                                       4
Matale                                      4
Adi                                         4
Claudio Corallo                             4
Olivia                                      4
Olive and Sinclair                          4
Harper Macaw                                4
Mana                                        4
Heirloom Cacao Preservation (Guittard)      4
Hogarth                                     4
Nibble                                      4
Beehive                                     4
Alexandre                                   4
Maverick                                    4
Nathan Miller                               4
Bisou                                       4
Belcolade                                   4
Isidro                                      4
Kah Kow                                     4
Mutari                                      4
Maglio                                      4
Madecasse (Cinagra)                         4
Luker                                       4
Tablette (aka Vanillabeans)                 4
Tabal                                       4
K'ul                                        4
Kyya                                        4
La Chocolaterie Nanairo                     4
Cacao Atlanta                               4
Taza                                        4
L'Amourette                                 4
Cacaoyere (Ecuatoriana)                     4
Parliament                                  4
Davis                                       4
Doble & Bignall                             4
Ara                                         4
Amatller (Simon Coll)                       4
Dormouse                                    4
Raaka                                       4
Damson                                      4
Cacao Prieto                                4
Wilkie's Organic                            4
Salgado                                     4
Finca                                       4
Mars                                        4
Bright                                      4
Franceschi                                  4
Vintage Plantations (Tulicorp)              4
Chocolarder                                 3
Bellflower                                  3
Belyzium                                    3
Just Good Chocolate                         3
Spagnvola                                   3
Wm                                          3
Akesson's (Pralus)                          3
DeVries                                     3
Montecristi                                 3
East Van Roasters                           3
Naive                                       3
Momotombo                                   3
DAR                                         3
Molucca                                     3
Moho                                        3
Black Mountain                              3
Chocolate Makers                            3
StRita Supreme                              3
Batch                                       3
Grenada Chocolate Co.                       3
Goodnow Farms                               3
Cacao Store                                 3
Marana                                      3
Tocoti                                      3
Fossa                                       3
Nova Monda                                  3
Na�ve                                       3
Vivra                                       3
Ranger                                      3
Noble Bean aka Jerjobo                      3
Feitoria Cacao                              3
Roasting Masters                            3
Omnom                                       3
Ethereal                                    3
Hotel Chocolat                              3
Snake & Butterfly                           3
Erithaj (A. Morin)                          3
Martin Mayer                                3
Sjolinds                                    2
Bowler Man                                  2
Metiisto                                    2
Bouga Cacao (Tulicorp)                      2
Marsatta                                    2
Sol Cacao                                   2
Orquidea                                    2
Original Hawaiin Chocolate Factory          2
Chchukululu (Tulicorp)                      2
Robert (aka Chocolaterie Robert)            2
Menakao (aka Cinagra)                       2
Seaforth                                    2
Millcreek Cacao Roasters                    2
Sacred                                      2
Ocelot                                      2
Obolo                                       2
Pascha                                      2
Shark's                                     2
Solkiki                                     2
Noir d' Ebine                               2
Night Owl                                   2
Paul Young                                  2
Nahua                                       2
Mindo                                       2
Callebaut                                   2
Muchomas (Mesocacao)                        2
Sibu                                        2
Ohiyo                                       2
Quetzalli (Wolter)                          2
Captain Pembleton                           2
De Villiers                                 2
Mission                                     2
Pomm (aka Dead Dog)                         2
De Mendes                                   2
Solomons Gold                               2
Daintree                                    2
iQ Chocolate                                2
Indaphoria                                  2
El Ceibo                                    2
Chocovivo                                   2
Emerald Estate                              2
Emily's                                     2
hello cocoa                                 2
Heirloom Cacao Preservation (Zokoko)        2
Blanxart                                    2
Bakau                                       2
Beau Cacao                                  2
Kaoka (Cemoi)                               2
Creo                                        2
Hacienda El Castillo                        2
Undone                                      2
Upchurch                                    2
Wellington Chocolate Factory                2
Forteza (Cortes)                            2
Vanleer (Barry Callebaut)                   2
Glennmade                                   2
Vicuna                                      2
Amazona                                     2
Kakao                                       2
Izard                                       2
Stella (aka Bernrain)                       2
Machu Picchu Trading Co.                    2
Malagasy (Chocolaterie Robert)              2
Debauve & Gallais (Michel Cluizel)          2
SRSLY                                       2
Chocolate Alchemist-Philly                  2
Malie Kai (Guittard)                        2
Stone Grindz                                2
Somerville                                  2
Dolfin (Belcolade)                          2
Sublime Origins                             2
Summerbird                                  2
Suruca Chocolate                            2
Aequare (Gianduja)                          2
Choco Dong                                  2
Xocolla                                     2
Choco Del Sol                               2
Acalli                                      2
Eau de Rose                                 2
Chocola'te                                  2
Rococo (Grenada Chocolate Co.)              1
Whittakers                                  1
Animas                                      1
Vintage Plantations                         1
Britarev                                    1
Bronx Grrl Chocolate                        1
Artisan du Chocolat (Casa Luker)            1
Xocolat                                     1
Santome                                     1
Treehouse                                   1
Vietcacao (A. Morin)                        1
Baravelli's                                 1
Black River (A. Morin)                      1
Sprungli (Felchlin)                         1
Sibu Sura                                   1
Svenska Kakaobolaget                        1
Bernachon                                   1
Shattell                                    1
Tan Ban Skrati                              1
Shattel                                     1
The Barn                                    1
Theobroma                                   1
Timo A. Meyer                               1
To'ak (Ecuatoriana)                         1
Tobago Estate (Pralus)                      1
Breeze Mill                                 1
Tsara (Cinagra)                             1
Two Ravens                                  1
Un Dimanche A Paris                         1
Ah Cacao                                    1
Urzi                                        1
Cacao Arabuco                               1
Mita                                        1
Raw Cocoa                                   1
ChocoReko                                   1
Chuao Chocolatier                           1
Hachez                                      1
Haigh                                       1
Heilemann                                   1
Heirloom Cacao Preservation (Brasstown)     1
Heirloom Cacao Preservation (Fruition)      1
Heirloom Cacao Preservation (Manoa)         1
Heirloom Cacao Preservation (Millcreek)     1
Heirloom Cacao Preservation (Mindo)         1
Christopher Morel (Felchlin)                1
Choocsol                                    1
Chokolat Elot (Girard)                      1
Honest                                      1
Indah                                       1
Indi                                        1
Jacque Torres                               1
Jordis                                      1
Chocosol                                    1
Kerchner                                    1
Chuao Chocolatier (Pralus)                  1
Green Bean to Bar                           1
Green & Black's (ICAM)                      1
Enric Rovira (Claudio Corallo)              1
Desbarres                                   1
Dole (Guittard)                             1
Dulcinea                                    1
Durand                                      1
Eclat (Felchlin)                            1
Edelmond                                    1
Dalloway                                    1
ENNA                                        1
Fearless (AMMA)                             1
Grand Place                                 1
Cote d' Or (Kraft)                          1
Forever Cacao                               1
Confluence                                  1
Condor                                      1
Friis Holm                                  1
Coleman & Davis                             1
Garden Island                               1
Cloudforest                                 1
Kiskadee                                    1
Chocolats Privilege                         1
Raoul Boulanger                             1
Anahata                                     1
Cemoi                                       1
Minimal                                     1
Monarque                                    1
Monsieur Truffe                             1
Nanea                                       1
Nugali                                      1
Oakland Chocolate Co.                       1
Oialla by Bojessen (Malmo)                  1
Omanhene                                    1
Pangea                                      1
Park 75                                     1
Cacaosuyo (Theobroma Inversiones)           1
Peppalo                                     1
Pinellas                                    1
Cacao Market                                1
Cacao de Origin                             1
Pura Delizia                                1
Rain Republic                               1
Rancho San Jacinto                          1
Chaleur B                                   1
Metropolitan                                1
Charm School                                1
Loiza                                       1
La Oroquidea                                1
La Pepa de Oro                              1
Lajedo do Ouro                              1
Lake Champlain (Callebaut)                  1
Chocolate Conspiracy                        1
Levy                                        1
Lilla                                       1
Lindt & Sprungli                            1
Love Bar                                    1
Mayacama                                    1
Majani                                      1
Malagos                                     1
Malmo                                       1
Manifesto Cacao                             1
Chocablog                                   1
Marigold's Finest                           1
Chloe Chocolat                              1
Chequessett                                 1
Ki' Xocolatl                                1
Name: count, dtype: int64

**Only na?ve found that poses question of correctness however it could be the companies name thus I won't try to remove or change it**

In [34]:
# Checking Null Values for 'Country of Manufacturer' Column
df_cra['Country of Manufacturer'].isnull().value_counts(dropna = False)

Country of Manufacturer
False    1795
Name: count, dtype: int64

**No Null Values Found**

In [36]:
# Distinct Value counts for 'Country of Manufacturer' Column
df_cra['Country of Manufacturer'].value_counts(dropna = False)

Country of Manufacturer
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
Japan                 17
Brazil                17
Peru                  17
Madagascar            17
New Zealand           17
Denmark               15
Vietnam               11
Scotland              10
Guatemala             10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
South Korea            5
Nicaragua              5
Sweden                 5
Domincan Republic      5
Ireland                4
Netherlands            4
Fiji                   4
Sao Tome               4
Puerto Rico            4
Mexico                 4
Amsterdam              4
Iceland                3
Singapore              3
Portugal               3
Grenada                3
South Africa           3
Finland                2
Bolivia                2
St. Lucia              2
Chile                  2
Philippines            1
Czech Republic         1
India                  1
Martinique             1
Niacragua              1
Ghana                  1
Wales                  1
Eucador                1
Russia                 1
Suriname               1
Name: count, dtype: int64

**All written in same format and no miss spellings**

In [38]:
# Checking Null Values for 'Cocoa (%)' Column
df_cra['Cocoa (%)'].isnull().value_counts(dropna = False)

Cocoa (%)
False    1795
Name: count, dtype: int64

**No Null Values Found**

In [40]:
# Distinct Value count for 'Cocoa (%)' Column
df_cra['Cocoa (%)'].value_counts(dropna = False)

Cocoa (%)
70.0     672
75.0     222
72.0     189
65.0      78
80.0      72
74.0      50
68.0      47
60.0      43
73.0      40
85.0      36
64.0      34
77.0      33
71.0      31
67.0      27
76.0      23
66.0      23
100.0     20
82.0      17
78.0      17
55.0      16
62.0      14
63.0      12
69.0      10
90.0       8
61.0       8
88.0       8
58.0       8
81.0       5
83.0       4
84.0       4
72.5       4
91.0       3
56.0       2
73.5       2
99.0       2
89.0       2
53.0       1
46.0       1
60.5       1
57.0       1
79.0       1
86.0       1
50.0       1
42.0       1
87.0       1
Name: count, dtype: int64

**All are in Correct format and being a percentage no number is higher that 100 or lower than 0**

In [42]:
# Checking Null Values for 'Type of Bean' Column
df_cra['Type of Bean'].isnull().value_counts(dropna = False)

Type of Bean
False    1794
True        1
Name: count, dtype: int64

In [43]:
# Checking Distinct Value Count for 'Type of Bean' Column
df_cra['Type of Bean'].value_counts(dropna = False)

Type of Bean
                            887
Trinitario                  419
Criollo                     153
Forastero                    87
Forastero (Nacional)         52
Blend                        41
Criollo, Trinitario          39
Forastero (Arriba)           37
Criollo (Porcelana)          10
Trinitario, Criollo           9
Forastero (Parazinho)         8
Forastero (Arriba) ASS        6
Beniano                       3
Matina                        3
EET                           3
Nacional (Arriba)             3
Criollo, Forastero            2
Amazon, ICS                   2
Trinitario, Forastero         2
Amazon mix                    2
Forastero (Catongo)           2
Nacional                      2
Trinitario (85% Criollo)      2
Criollo (Amarru)              2
Criollo (Ocumare 61)          2
Criollo, +                    1
Forastero (Arriba) ASSS       1
Trinitario, TCGA              1
Trinitario (Amelonado)        1
Trinitario, Nacional          1
NaN                           1
Forastero (Amelonado)         1
Forastero, Trinitario         1
Criollo (Ocumare 77)          1
Amazon                        1
Forastero(Arriba, CCN)        1
Criollo (Ocumare 67)          1
CCN51                         1
Trinitario (Scavina)          1
Blend-Forastero,Criollo       1
Criollo (Ocumare)             1
Criollo (Wild)                1
Name: count, dtype: int64

**887 Empty Values will replace with NaN**

In [45]:
# Replace whitespace-only strings with NaN in 'Type of Bean' Column
df_cra['Type of Bean'] = df_cra['Type of Bean'].replace(r'^\s*$', np.nan, regex=True)

**To check the above code I re-ran the Distinct value count code for 'Type of Bean' Column and we know it is correct as the 887 Whitespace-only values have been relplaced with NaN making a total of 888 NaN values. However After Having over 50% of the column empty makes it irrelevant to my analysis thus I have decided to drop this column**

In [47]:
# Dropping 'Type of Bean' Column
df_cra.drop(columns = ['Type of Bean'], inplace = True)

In [48]:
# Checking output
df_cra.head()

,Manufacturer,Country of Manufacturer,Cocoa (%),Bean Origin (Country),Rating,Review Year,REF
0,A. Morin,France,63.0,Sao Tome,3.75,2016,1876
1,A. Morin,France,70.0,Togo,2.75,2015,1676
2,A. Morin,France,70.0,Togo,3.00,2015,1676
3,A. Morin,France,70.0,Togo,3.50,2015,1680
4,A. Morin,France,70.0,Peru,3.50,2015,1704

In [49]:
# Checking Null Values for 'Bean Origin (Country)' Column
df_cra['Bean Origin (Country)'].isnull().value_counts(dropna = False)

Bean Origin (Country)
False    1794
True        1
Name: count, dtype: int64

In [50]:
# Checking Distinct Value Count for 'Bean Origin (Country)' Column
df_cra['Bean Origin (Country)'].value_counts(dropna = False)

# The results of the query above show there are 73 Whitespace-only strings which I will replace to NA. Due to laptop
# malfunctioning not allowing me to add cells inbetween work only at the bottom of the sheet I will just add it on to here

# Replacing Whitespace-only string with NaN
df_cra['Bean Origin (Country)'] = df_cra['Bean Origin (Country)'].replace(r'^\s*$', np.nan, regex=True)

# Checking Output
df_cra['Bean Origin (Country)'].value_counts(dropna = False)

# With a total of 74 NaN values it comes to 4.12% of Column which is fine to use within my analysis

Bean Origin (Country)
Venezuela                        214
Ecuador                          193
Peru                             165
Madagascar                       145
Dominican Republic               141
NaN                               74
Nicaragua                         60
Brazil                            58
Bolivia                           57
Belize                            49
Papua New Guinea                  42
Colombia                          40
Vietnam                           38
Costa Rica                        38
Tanzania                          34
Trinidad                          33
Ghana                             33
Mexico                            30
Guatemala                         28
Hawaii                            28
Domincan Republic                 25
Jamaica                           20
Grenada                           19
Indonesia                         16
Honduras                          15
Cuba                              11
Sao Tome                          10
Congo                             10
Haiti                              9
Carribean                          8
Uganda                             8
St. Lucia                          8
Fiji                               8
Panama                             7
Sao Tome & Principe                7
Vanuatu                            7
West Africa                        6
Philippines                        5
Ivory Coast                        5
Puerto Rico                        4
Central and S. America             4
India                              4
Solomon Islands                    4
Liberia                            3
Colombia, Ecuador                  3
Togo                               3
Malaysia                           3
Australia                          3
South America                      3
El Salvador                        2
Samoa                              2
Ghana, Domin. Rep                  2
Tobago                             2
Trinidad, Tobago                   2
Sri Lanka                          2
Venezuela/ Ghana                   1
Peru, Dom. Rep                     1
Indonesia, Ghana                   1
Ghana, Panama, Ecuador             1
Ecuador, Mad., PNG                 1
Peru, Ecuador                      1
Peru(SMartin,Pangoa,nacional)      1
Principe                           1
Suriname                           1
DR, Ecuador, Peru                  1
Ven, Bolivia, D.R.                 1
Mad., Java, PNG                    1
Ven., Trinidad, Mad.               1
Carribean(DR/Jam/Tri)              1
Ghana & Madagascar                 1
Ven.,Ecu.,Peru,Nic.                1
Gre., PNG, Haw., Haiti, Mad        1
Madagascar & Ecuador               1
Dom. Rep., Madagascar              1
Guat., D.R., Peru, Mad., PNG       1
Venezuela, Ghana                   1
Nigeria                            1
Venezuela, Java                    1
Ven, Trinidad, Ecuador             1
Dominican Rep., Bali               1
Venez,Africa,Brasil,Peru,Mex       1
Gabon                              1
Burma                              1
Martinique                         1
Ecuador, Costa Rica                1
Cost Rica, Ven                     1
Peru, Madagascar                   1
Venezuela, Trinidad                1
South America, Africa              1
Cameroon                           1
Africa, Carribean, C. Am.          1
Ven., Indonesia, Ecuad.            1
Trinidad-Tobago                    1
Peru, Ecuador, Venezuela           1
Venezuela, Dom. Rep.               1
Peru, Belize                       1
Peru, Mad., Dom. Rep.              1
PNG, Vanuatu, Mad                  1
Trinidad, Ecuador                  1
Venezuela, Carribean               1
Name: count, dtype: int64

In [51]:
# Checking Null Values for 'Rating' Column
df_cra['Rating'].isnull().value_counts(dropna = False)

Rating
False    1795
Name: count, dtype: int64

In [52]:
# Checking Distinct Value Count for 'Rating' Column
df_cra['Rating'].value_counts(dropna = False)

Rating
3.50    392
3.00    341
3.25    303
2.75    259
3.75    210
2.50    127
4.00     98
2.00     32
2.25     14
1.50     10
1.00      4
1.75      3
5.00      2
Name: count, dtype: int64

In [53]:
# Checking Null Values for 'Review Year' Column
df_cra['Review Year'].isnull().value_counts(dropna = False)

Review Year
False    1795
Name: count, dtype: int64

In [54]:
# Checking Distinct Value Count for 'Review Year' Column
df_cra['Review Year'].value_counts(dropna = False)

Review Year
2015    285
2014    247
2016    219
2012    195
2013    184
2011    165
2009    123
2010    111
2008     93
2007     77
2006     72
2017     24
Name: count, dtype: int64

In [55]:
# Checking Null Values for 'REF' Column
df_cra['REF'].isnull().value_counts(dropna = False)

REF
False    1795
Name: count, dtype: int64

In [56]:
# Checking Distinct Value Count for 'REF' Column
df_cra['REF'].value_counts(dropna = False)

REF
414     10
404      9
24       9
387      9
32       8
1454     8
1466     8
1450     8
431      8
552      8
1462     8
1458     8
439      8
478      7
654      7
572      7
502      7
636      7
370      7
377      7
623      7
486      7
355      7
661      7
607      7
688      6
147      6
135      6
565      6
40       6
123      6
647      6
15       6
423      6
629      6
363      6
470      6
129      6
508      6
682      6
117      6
175      5
586      5
445      5
87       5
600      5
672      5
81       5
451      5
558      5
153      5
75       5
93       5
336      5
111      5
48       5
666      5
887      4
883      4
781      4
1940     4
1383     4
1351     4
1542     4
1201     4
1030     4
1197     4
741      4
1896     4
1848     4
1776     4
1053     4
99       4
1642     4
1081     4
1367     4
1359     4
931      4
927      4
899      4
1117     4
1538     4
1876     4
1287     4
105      4
987      4
1223     4
915      4
805      4
1085     4
1026     4
1387     4
1446     4
1666     4
1610     4
785      4
1654     4
1736     4
975      4
971      4
1335     4
1283     4
959      4
821      4
1920     4
1708     4
1550     4
1506     4
1275     4
903      4
1209     4
1205     4
1137     4
709      4
1812     4
1343     4
192      4
1093     4
693      4
863      4
1672     4
895      4
1034     4
1634     4
166      4
241      4
1626     4
1311     4
1327     4
789      4
829      4
1510     4
1720     4
1415     4
1165     4
1161     4
457      4
1411     4
1558     4
935      4
1526     4
1403     4
1399     4
867      4
1658     4
1618     4
1614     4
825      4
1490     4
1820     4
717      4
1177     4
280      4
1824     4
1578     4
801      4
939      4
1936     4
1932     4
676      4
951      4
1077     4
1828     4
1157     4
1792     4
1622     4
615      4
213      4
793      4
1796     4
1057     4
1227     4
1291     4
777      4
701      4
891      4
1073     4
1069     4
5        4
1279     4
943      4
737      4
733      4
1097     4
1676     4
1307     4
1113     4
1872     4
1712     4
1546     4
1744     4
1243     4
1239     4
1748     4
1700     4
1422     4
1892     4
1836     4
721      4
1650     4
1478     4
875      4
871      4
1844     4
1007     4
184      4
1089     4
288      4
284      4
1502     4
1856     4
1566     4
1562     4
833      4
1438     4
1594     4
1590     4
713      4
817      4
879      4
1169     4
1141     4
1864     4
1804     4
1800     4
1788     4
1784     4
1948     4
1880     4
1868     4
1840     4
955      4
983      4
1295     4
1554     4
999      4
1474     4
141      4
331      4
1780     4
1181     4
1768     4
1482     4
1235     4
1486     4
1149     4
1518     4
1514     4
1255     4
1271     4
1267     4
341      4
761      4
1042     4
1038     4
1339     4
1912     4
911      4
1916     4
1752     4
1740     4
1331     4
256      4
963      4
300      4
531      4
745      4
729      4
725      4
1133     4
1125     4
1732     4
1728     4
1944     4
1173     4
1061     4
1215     4
316      4
705      4
1470     4
1019     4
1015     4
1011     4
1319     4
1315     4
1704     4
1680     4
544      4
327      4
464      4
1904     4
947      4
1193     4
1602     4
1598     4
1534     4
1928     4
1924     4
1908     4
1900     4
1145     4
1724     4
1379     4
1375     4
1852     4
1259     4
1065     4
1498     4
1494     4
1231     4
1756     4
1638     4
1760     4
1684     4
252      4
1426     4
237      4
1251     4
1247     4
245      4
1153     4
296      4
1442     4
1185     4
1109     4
1105     4
1101     4
1407     4
1808     4
1371     4
1347     4
1574     4
1570     4
1299     4
1263     4
1582     4
1586     4
1888     4
841      4
845      4
1772     4
1696     4
1764     4
1816     4
1303     4
1630     4
292      4
1323     4
1606     4
1646     4
1832     4
1688     4
1692     4
1391     4
1522     4
1395     4
1219     4
1884     4
1662     4
1430     4
1530     4
1434     4
919      4
1860     4
991      4
537      4
1121     4
523      4
227      3
769      3
1129     3
593      3
63       3
162      3
188      3
797      3
1952     3
224      3
180      3
1022     3
170      3
967      3
859      3
979      3
923      3
813      3
749      3
757      3
346      3
56       3
837      3
248      3
1363     3
494      3
1046     3
1418     3
1189     3
199      3
1716     3
206      3
642      3
809      3
765      3
516      3
272      3
753      3
269      3
1355     3
308      3
697      3
233      3
995      3
266      3
1049     3
209      2
641      2
276      2
395      2
1211     2
220      2
196      2
1668     2
311      2
773      2
907      2
304      2
322      2
230      2
259      2
576      2
263      2
157      2
1003     1
772      1
853      1
579      1
855      1
597      1
849      1
202      1
Name: count, dtype: int64

## Checking For Dupplicates

In [58]:
# Creating Dataframe to place duplicated values of df_cra
df_dups = df_cra.duplicated()

# Checking output
df_dups.sum()

20

In [59]:
# Removing Duplicates
df_cra = df_cra.drop_duplicates()

## Descriptive Statistics

In [61]:
df_cra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1775 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Manufacturer             1775 non-null   object
 1   Country of Manufacturer  1775 non-null   object
 2   Cocoa (%)                1775 non-null   float64
 3   Bean Origin (Country)    1701 non-null   object
 4   Rating                   1775 non-null   float64
 5   Review Year              1775 non-null   int64
 6   REF                      1775 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 110.9+ KB

In [62]:
df_cra.describe()

         Cocoa (%)       Rating  Review Year
count  1775.000000  1775.000000  1775.000000
mean     71.706761     3.183944  2012.309859
std       6.348802     0.479317     2.932304
min      42.000000     1.000000  2006.000000
25%      70.000000     2.750000  2010.000000
50%      70.000000     3.250000  2013.000000
75%      75.000000     3.500000  2015.000000
max     100.000000     5.000000  2017.000000

In [108]:
# Exporting File
df_cra.to_csv(os.path.join(path, 'Prepared Data', 'flavours_of_cocoa_clean.csv'))